.title {
  color:#660066;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #800060;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #b300b3;
  border-radius: 4px;
  color: white;
  text-align: center;
}